<body>
<header  id="new" style=" background-image: url(/img/background-nologo.png);background-size: 100% 100%;">
    <div class="text-center">
        <div  class="custom_logo" style="margin-left: 0;"></div>
    </div>
    <br>
    <br>
    <br>
    
    <div id="mobile_menu" >
        <button class="cn-button" id="cn-button">Menu</button>
        <div class="cn-wrapper" id="cn-wrapper">
            <ul>
                <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
                <li><a href="/#feature"><span class="glyphicon glyphicon-briefcase"></span></a></li>
                <li><a href="/#contact"><span class="glyphicon glyphicon-phone-alt"></span></a></li>
                <li><a href="/#about"><span class="glyphicon glyphicon-user"></span></a></li>
                <li><a href="/#"><span class="glyphicon glyphicon-folder-open"></span></a></li>
            </ul>
        </div>
        <div id="cn-overlay" class="cn-overlay"></div>
    </div>
    <section>

        <div class="container custom_height">

            <div class="clearfix"></div>
            <% count = 0 %>
            <% while count < @listings.size  do %>
                <div class="row text-center">
                    <% if count < @listings.size %>
                    <div class="col-md-4 col-xs-12">
                        <div class="wrapper custom_size_3">
                           
                            <div><img class="custom_prod" src="<%= @listings[count].image_name %>"> </div>
                            <h5 style="font-weight: 600;"<%= @listings[count].name %></h5>
                            <div class="row">
                                <div class="col-md-6 text-left" style="padding-left: 11%; float:left;">
                                    <h4><%= @listings[count].msrp %></h4>
                                    <p style="color: black; font-weight: 600;">STARTING</p>
                                    <P style="color: black; font-weight: 600;">MSRP*</P>
                                </div>
                                <div class="col-md-6 text-right" style="padding-right: 11%;">
                                    <h4></h4>
                                    <p style="color: black; font-weight: 600;"></p>
                                    <P style="color: black; font-weight: 600;"></P>
                                </div>
                            </div>
                           
                                <a type="button" id="myBtn" onclick="showDesctiption(<%= @listings[count].id %>);" class="btn btn-primary custom_bt_1">See More</a>
                           </div>
                    </div>
                    <% end %>
                    <% count = count + 1 %>
                    <% if count < @listings.size %>
                    <div class="col-md-4 col-xs-12">
                        <div class="wrapper custom_size_3">
                           
                            <div><img class="custom_prod" src="<%= @listings[count].image_name %>"> </div>
                            <h5 style="font-weight: 600;"<%= @listings[count].name %></h5>
                            <div class="row">
                                <div class="col-md-6 text-left" style="padding-left: 11%; float:left;">
                                    <h4><%= @listings[count].msrp %></h4>
                                    <p style="color: black; font-weight: 600;">STARTING</p>
                                    <P style="color: black; font-weight: 600;">MSRP*</P>
                                </div>
                                <div class="col-md-6 text-right" style="padding-right: 11%;">
                                    <h4></h4>
                                    <p style="color: black; font-weight: 600;"></p>
                                    <P style="color: black; font-weight: 600;"></P>
                                </div>
                            </div>
                            <a type="button" id="myBtn" onclick="showDesctiption(<%= @listings[count].id %>);" class="btn btn-primary custom_bt_1">See More</a>
                        </div>
                    </div>
                    <% end %>
                    <% count = count + 1 %>
                    <% if count < @listings.size %>
                    <div class="col-md-4 col-xs-12">
                        <div class="wrapper custom_size_3">
                           
                            <div><img class="custom_prod" src="<%= @listings[count].image_name %>"> </div>
                            <h5 style="font-weight: 600;"<%= @listings[count].name %></h5>
                            <div class="row">
                                <div class="col-md-6 text-left" style="padding-left: 11%; float:left;">
                                    <h4><%= @listings[count].msrp %></h4>
                                    <p style="color: black; font-weight: 600;">STARTING</p>
                                    <P style="color: black; font-weight: 600;">MSRP*</P>
                                </div>
                                <div class="col-md-6 text-right" style="padding-right: 11%;">
                                    <h4></h4>
                                    <p style="color: black; font-weight: 600;"></p>
                                    <P style="color: black; font-weight: 600;"></P>
                                </div>
                            </div>
                            <a type="button" id="myBtn" onclick="showDesctiption(<%= @listings[count].id %>);" class="btn btn-primary custom_bt_1">See More</a>
                        </div>
                    </div>
                    <% end %>
                    <% count = count + 1 %>
                </div>
            <% end %>
        </div>
    </section>
</header>
<section >
    <div id="desktop_menu" class="container" style="padding: 0;margin-top: -36px;">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <a href="/" type="button" class="btn btn-default">Home</a>
            </div>
            <div class="btn-group" role="group">
                <a href="/#feature" type="button" class="btn btn-default">Featured Equipment</a>
            </div>
            <div class="btn-group" role="group">
                <a href="/#contact" type="button" class="btn btn-default">Location & Contact</a>
            </div>
            <div class="btn-group" role="group">
                <a href="/#about" type="button" class="btn btn-default">About</a>
            </div>
        </div>
    </div>
    
</section>
<div  class="mobile_div"style="padding: 20px; background-color: white;"></div>
<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span onclick="closeDescriptionModal();" class="close">&times;</span>
            <h2 id="name"></h2>
        </div>
        <div class="modal-body">

                <div  style="background-color:#003e85;">
                    <div class="row text-center">
                        <div class="col-md-6 col-xs-12">
                            <div class="wrapper">
                                
                                <div><img id="modal-img" class="custom_prod" src=""> </div>

                                

                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12 text-right" style="padding-left: 0px;">
                            <p id="modal_description" class="custom_2_text_modal">
                                
                            </p>
                        </div>
                       

                    </div>

                </div>

        </div>
        <div class="modal-footer">
            <a  href="#" onclick="closeDescriptionModal();" class="btn btn-primary">Close</a>
        </div>
    </div>

</div>

<div id="mobileMenu" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span id="close_menu" class="close">&times;</span>
            
        </div>
        <div class="modal-body">

                <ul>
                                <li><a class="mobile_menu_links" href="/">Home</a></li>
                                <hr>
                                <li><a class="mobile_menu_links" href="#feature">Featured Listings</a></li>
                                <hr>
                                <li><a class="mobile_menu_links" href="#contact">Location & Contact</a></li>
                                <hr>
                                <li><a class="mobile_menu_links" href="#about">About</a></li>
                            </ul> 

        </div>
       
    </div>

</div>


<footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/polyfills.js"></script>
    <script src="/js/half_circle_menu.js"></script>
    <script src="/js/custom.js"></script>

</footer>
</body>

<script>
    var js_array = [<%= raw @listings.to_json %>]; 
    
    
    
    function showDesctiption(id){
        for(i=0; i < js_array[0].length; i++){
           if(js_array[0][i]["id"] == id){
                
                $('#modal-img').attr('src', js_array[0][i]["image_name"]);
                $('#modal_description').text(js_array[0][i]["description"]);
                $('#name').text(js_array[0][i]["name"] + " - " + js_array[0][i]["msrp"]);
                
                var modal = document.getElementById('myModal');
	            modal.style.display = "block";
                break;
           } 
        } 
             
		

    }
    
     function closeDescriptionModal(){
        var modal = document.getElementById('myModal');
	    modal.style.display = "none";

    }
</script>